:root {
  --nord-deep-dark: #242931;
  /*  polar night */
  --nord0: #2E3440;
  --nord0-pale: rgba(46, 52, 64, 0.3);
  --nord1: #3B4252;
  --nord1-pale: rgba(59, 66, 82, 0.3);
  --nord2: #434C5E;
  --nord2-pale: rgba(67, 76, 94, 0.3);
  --nord3: #4C566A;
  --nord3-pale: rgba(76, 86, 106, 0.3);
  /* snow storm */
  --nord4: #D8DEE9;
  --nord4-pale: rgba(216, 222, 232, 0.3);
  --nord5: #E5E9F0;
  --nord5-pale: rgba(229, 233, 240, 0.3);
  --nord6: #ECEFF4;
  --nord6-pale: rgba(236, 239, 244, 0.3);
  /* frost */
  --nord7: #8FBCBB;
  --nord7-pale: rgba(143, 188, 187, 0.3);
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord10-pale: rgba(94, 129, 172, 0.3);
  /* aurora */
  --nord11: #BF616A;
  --nord11-pale: rgba(191, 97, 106, 0.3);
  --nord12: #D08770;
  --nord12-pale: rgba(208, 135, 112, 0.3);
  --nord13: #EBCB8B;
  --nord13-pale: rgba(235, 203, 139, 0.3);
  --nord14: #A3BE8C;
  --nord14-pale: rgba(163, 190, 140, 0.3);
  --nord15: #B48EAD;
  --nord15-pale: rgba(180, 140, 173, 0.3);
  --default--transition: 0.3s;
  --tooltip-offset: 5px;
  --callout-side-offset: 2em;
  --form-group-bottom-margin: 10px;
  --form-label-bottom-margin: 5px;
  --gutter-tiny: 8px;
  --gutter-medium: 16px;
  --gutter-large: 24px;
  --gutter-xlarge: 36px;
  --spinner-large-size: 50px;
  --spinner-normal-size: 35px;
  --spinner-small-size: 20px;
  --sidebar-width: 15rem;
}

svg {
  color: var(--nord7);
}

.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-outline {
  outline: none;
}

.noHover {
  pointer-events: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.fill-height {
  height: 100%;
}

.fill-wdith {
  width: 100%;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--nord6);
  transition-duration: var(--default--transition);
  transition-property: color, background-color;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--nord7);
}

.container {
  display: flex;
}

.page {
  margin-left: var(--sidebar-width);
  margin-top: 3rem;
  width: calc(100% - var(--sidebar-width));
  transition: 0.5s all;
  padding: 1rem 0 0 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.col {
  position: relative;
  display: block;
}

.row.gutter-tiny > .col {
  padding: var(--gutter-tiny);
}

.row.gutter-medium > .col {
  padding: var(--gutter-medium);
}

.row.gutter-large > .col {
  padding: var(--gutter-large);
}

.row.gutter-xlarge > .col {
  padding: var(--gutter-xlarge);
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.col.auto {
  flex: 1 0 0;
  width: 100%;
}

.col.xs-auto {
  flex: 1 0 0;
  width: 100%;
}

.col.xs-1 {
  flex: 0 0 8.3%;
  width: 8.3%;
}

.col.xs-2 {
  flex: 0 0 16.6%;
  width: 16.6%;
}

.col.xs-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col.xs-4 {
  flex: 0 0 33.3%;
  width: 33.3%;
}

.col.xs-5 {
  flex: 0 0 41.6%;
  width: 41.6%;
}

.col.xs-6 {
  flex: 0 0 50%;
  width: 50%;
}

.col.xs-7 {
  flex: 0 0 58.3%;
  width: 58.3%;
}

.col.xs-8 {
  flex: 0 0 66.6%;
  width: 66.6%;
}

.col.xs-9 {
  flex: 0 0 75%;
  width: 75%;
}

.col.xs-10 {
  flex: 0 0 83.3%;
  width: 83.3%;
}

.col.xs-11 {
  flex: 0 0 91.6%;
  width: 91.6%;
}

.col.xs-12 {
  flex: 0 0 100%;
  width: 100%;
}

.hide,
.xs-up-hide,
.xl-down-hide {
  display: none;
}

@media only screen and (max-width: 599px) {
  .xs-hide,
  .xs-down-hide,
  .sm-down-hide,
  .md-down-hide,
  .lg-down-hide {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .col.sm-auto {
    flex: 1 0 0;
    max-width: 100%;
  }
  .col.sm-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
  .col.sm-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .col.sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.sm-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .col.sm-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .col.sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.sm-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .col.sm-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .col.sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.sm-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .col.sm-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .col.sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .sm-up-hide {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .sm-hide,
  .sm-down-hide,
  .md-down-hide,
  .lg-down-hide {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .col.md-auto {
    flex: 1 0 0;
    max-width: 100%;
  }
  .col-md-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
  .col.md-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .col.md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.md-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .col.md-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .col.md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.md-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .col.md-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .col.md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.md-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .col.md-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .col.md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .md-up-hide {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .md-hide,
  .md-down-hide,
  .lg-down-hide {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .col.lg-auto {
    flex: 1 0 0;
    max-width: 100%;
  }
  .col.lg-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
  .col.lg-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .col.lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.lg-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .col.lg-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .col.lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.lg-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .col.lg-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .col.lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.lg-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .col.lg-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .col.lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .lg-up-hide {
    display: none;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .lg-hide,
  .lg-down-hide {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  .col.xl-auto {
    flex: 1 0 0;
    max-width: 100%;
  }
  .col.xl-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
  .col.xl-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .col.xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col.xl-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .col.xl-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .col.xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col.xl-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .col.xl-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .col.xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col.xl-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .col.xl-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .col.xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .xl-hide,
  .xl-up-hide {
    display: none;
  }
}
.vh-100 {
  min-height: 100vh;
}

.sidebar {
  background-color: var(--nord3);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 2rem 0.5rem;
  width: 15rem;
  height: 100vh;
  transition: 0.5s all;
}
.sidebar .logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sidebar .logoContainer h2.title {
  color: var(--nord7);
  padding: 0 0 0 1rem;
}
.sidebar .logoContainer .logo {
  font-size: 50px;
}
.sidebar .burgerContainer {
  content: "";
  background-color: var(--nord7);
  position: absolute;
  right: -17.5px;
  top: 7.8260869565rem;
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  z-index: 1;
}
.sidebar .burgerContainer .burgerTrigger {
  content: "";
  width: 35px;
  height: 35px;
  background-color: red;
  cursor: pointer;
  z-index: 6;
  opacity: 0;
  position: relative;
}
.sidebar .burgerContainer .burgerMenu {
  content: "";
  background-color: var(--nord7);
  position: relative;
  z-index: 1;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  bottom: 17.5px;
  left: 0.45rem;
  transition: 0.5s all;
}
.sidebar .burgerContainer .burgerMenu::after {
  content: "";
  background-color: var(--nord0);
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: 0.4rem;
  transform: translateY(-0.4rem) rotate(45deg);
  transition: 0.5s all;
}
.sidebar .burgerContainer .burgerMenu::before {
  content: "";
  background-color: var(--nord0);
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: -0.4rem;
  transform: translateY(0.4rem) rotate(-45deg);
  transition: 0.5s all;
}
.sidebar .burgerContainer::after {
  content: "";
  position: absolute;
  right: 35px;
  top: 17.5px;
  z-index: 0;
  width: 21rem;
  background-color: var(--nord7);
  height: 2px;
  transition: 0.5s all;
}
.sidebar .profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0 0 0;
}
.sidebar .profileContainer .profile {
  font-size: 50px;
}
.sidebar .profileContainer .profileContents {
  padding: 0 0 0 1rem;
}
.sidebar .profileContainer .profileContents p.name {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}
.sidebar .profileContainer .profileContents p {
  padding: 0;
  margin: 0;
  text-transform: lowercase;
}
.sidebar .contentsContainer {
  margin: 2rem 0 0 0;
}
.sidebar .contentsContainer ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .contentsContainer ul a {
  width: 14rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.25rem 0;
  padding-left: 0.25rem;
  border-radius: 1rem;
  cursor: pointer;
}
.sidebar .contentsContainer ul a .icon {
  font-size: 24px;
  color: var(--nord7);
  margin: 0 1rem 0 0.5rem;
}
.sidebar .contentsContainer ul a:hover {
  background-color: var(--nord10);
  transition: 0.25s;
  width: 14rem;
}
.sidebar .contentsContainer ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.75rem 0;
  padding: 0.75rem 0;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}
.sidebar .contentsContainer ul li h4 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 0.5rem;
  transition: 0.5s;
}
.sidebar .contentsContainer ul li.active {
  background-color: veryLightGreen;
}
.sidebar .contentsContainer ul li.active a {
  color: var(--nord14);
}

.dark .sidebar {
  background-color: var(--nord0);
}

.sidebar.active {
  width: 4rem;
  transition: 0.5s all;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.sidebar.active .logoContainer.active h2.title {
  opacity: 0;
}
.sidebar.active .logoContainer.active .logo {
  font-size: 50px;
}
.sidebar.active .burgerContainer.active {
  transition: 0.5s all;
}
.sidebar.active .burgerContainer.active .burgerMenu {
  background-color: var(--nord0);
  transition: 0.5s all;
}
.sidebar.active .burgerContainer.active .burgerMenu::before {
  transform: translateY(0rem) rotate(0deg);
  transition: 0.5s all;
}
.sidebar.active .burgerContainer.active .burgerMenu::after {
  transform: translateY(0rem) rotate(0deg);
  transition: 0.5s all;
}
.sidebar.active .profileContainer .profileContents {
  opacity: 0;
}
.sidebar.active .contentsContainer h4 {
  opacity: 0;
  transition: 0.5s;
}
.sidebar.active .contentsContainer a {
  width: 3rem;
}
.sidebar.active .contentsContainer a:hover {
  width: 3rem;
}

.header {
  position: fixed;
  background-color: var(--nord3);
  margin-left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  transition: 0.5s all;
  height: 3rem;
}

.header > div {
  height: 100%;
  align-content: center;
}

.header .logo {
  max-width: 2em;
  padding: 5px;
}

.header .nav-container {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}

.header .nav-container li {
  float: left;
}

.header .nav-container a {
  color: white;
  padding: 5px 10px;
}

.header .header-link {
  padding: 0 10px;
  width: 35px;
}

.dark .header {
  background-color: var(--nord0);
}

.search {
  padding-top: 5px;
  padding-left: 2rem;
}

.icons {
  padding-top: 5px;
  padding-right: 1rem;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0, .my-0 {
  margin-top: 0 !important;
}

.mr-0, .mx-0 {
  margin-right: 0 !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.ml-0, .mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1, .my-1 {
  margin-top: 0.25rem !important;
}

.mr-1, .mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1, .my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1, .mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2, .my-2 {
  margin-top: 0.5rem !important;
}

.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2, .mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3, .my-3 {
  margin-top: 1rem !important;
}

.mr-3, .mx-3 {
  margin-right: 1rem !important;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.ml-3, .mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.mr-4, .mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4, .mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.mr-5, .mx-5 {
  margin-right: 3rem !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.ml-5, .mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0, .py-0 {
  padding-top: 0 !important;
}

.pr-0, .px-0 {
  padding-right: 0 !important;
}

.pb-0, .py-0 {
  padding-bottom: 0 !important;
}

.pl-0, .px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1, .py-1 {
  padding-top: 0.25rem !important;
}

.pr-1, .px-1 {
  padding-right: 0.25rem !important;
}

.pb-1, .py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1, .px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2, .py-2 {
  padding-top: 0.5rem !important;
}

.pr-2, .px-2 {
  padding-right: 0.5rem !important;
}

.pb-2, .py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2, .px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3, .py-3 {
  padding-top: 1rem !important;
}

.pr-3, .px-3 {
  padding-right: 1rem !important;
}

.pb-3, .py-3 {
  padding-bottom: 1rem !important;
}

.pl-3, .px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4, .py-4 {
  padding-top: 1.5rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5, .py-5 {
  padding-top: 3rem !important;
}

.pr-5, .px-5 {
  padding-right: 3rem !important;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto, .my-auto {
  margin-top: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.mb-auto, .my-auto {
  margin-bottom: auto !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0, .my-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0, .mx-sm-0 {
    margin-right: 0 !important;
  }
  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0, .mx-sm-0 {
    margin-left: 0 !important;
  }
  .m-sm-1 {
    margin: 0.25rem !important;
  }
  .mt-sm-1, .my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .mr-sm-1, .mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .mb-sm-1, .my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-sm-1, .mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .m-sm-2 {
    margin: 0.5rem !important;
  }
  .mt-sm-2, .my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .mb-sm-2, .my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-sm-2, .mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .m-sm-3 {
    margin: 1rem !important;
  }
  .mt-sm-3, .my-sm-3 {
    margin-top: 1rem !important;
  }
  .mr-sm-3, .mx-sm-3 {
    margin-right: 1rem !important;
  }
  .mb-sm-3, .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .ml-sm-3, .mx-sm-3 {
    margin-left: 1rem !important;
  }
  .m-sm-4 {
    margin: 1.5rem !important;
  }
  .mt-sm-4, .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mr-sm-4, .mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .mb-sm-4, .my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-sm-4, .mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .m-sm-5 {
    margin: 3rem !important;
  }
  .mt-sm-5, .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mr-sm-5, .mx-sm-5 {
    margin-right: 3rem !important;
  }
  .mb-sm-5, .my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .ml-sm-5, .mx-sm-5 {
    margin-left: 3rem !important;
  }
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0, .py-sm-0 {
    padding-top: 0 !important;
  }
  .pr-sm-0, .px-sm-0 {
    padding-right: 0 !important;
  }
  .pb-sm-0, .py-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0, .px-sm-0 {
    padding-left: 0 !important;
  }
  .p-sm-1 {
    padding: 0.25rem !important;
  }
  .pt-sm-1, .py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .pr-sm-1, .px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .pb-sm-1, .py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-sm-1, .px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .p-sm-2 {
    padding: 0.5rem !important;
  }
  .pt-sm-2, .py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .pr-sm-2, .px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .pb-sm-2, .py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-sm-2, .px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .p-sm-3 {
    padding: 1rem !important;
  }
  .pt-sm-3, .py-sm-3 {
    padding-top: 1rem !important;
  }
  .pr-sm-3, .px-sm-3 {
    padding-right: 1rem !important;
  }
  .pb-sm-3, .py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .pl-sm-3, .px-sm-3 {
    padding-left: 1rem !important;
  }
  .p-sm-4 {
    padding: 1.5rem !important;
  }
  .pt-sm-4, .py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .pr-sm-4, .px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .pb-sm-4, .py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-sm-4, .px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .p-sm-5 {
    padding: 3rem !important;
  }
  .pt-sm-5, .py-sm-5 {
    padding-top: 3rem !important;
  }
  .pr-sm-5, .px-sm-5 {
    padding-right: 3rem !important;
  }
  .pb-sm-5, .py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .pl-sm-5, .px-sm-5 {
    padding-left: 3rem !important;
  }
  .m-sm-auto {
    margin: auto !important;
  }
  .mt-sm-auto, .my-sm-auto {
    margin-top: auto !important;
  }
  .mr-sm-auto, .mx-sm-auto {
    margin-right: auto !important;
  }
  .mb-sm-auto, .my-sm-auto {
    margin-bottom: auto !important;
  }
  .ml-sm-auto, .mx-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0, .my-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0, .mx-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0, .my-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0, .mx-md-0 {
    margin-left: 0 !important;
  }
  .m-md-1 {
    margin: 0.25rem !important;
  }
  .mt-md-1, .my-md-1 {
    margin-top: 0.25rem !important;
  }
  .mr-md-1, .mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .mb-md-1, .my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-md-1, .mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .m-md-2 {
    margin: 0.5rem !important;
  }
  .mt-md-2, .my-md-2 {
    margin-top: 0.5rem !important;
  }
  .mr-md-2, .mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .mb-md-2, .my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-md-2, .mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .m-md-3 {
    margin: 1rem !important;
  }
  .mt-md-3, .my-md-3 {
    margin-top: 1rem !important;
  }
  .mr-md-3, .mx-md-3 {
    margin-right: 1rem !important;
  }
  .mb-md-3, .my-md-3 {
    margin-bottom: 1rem !important;
  }
  .ml-md-3, .mx-md-3 {
    margin-left: 1rem !important;
  }
  .m-md-4 {
    margin: 1.5rem !important;
  }
  .mt-md-4, .my-md-4 {
    margin-top: 1.5rem !important;
  }
  .mr-md-4, .mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .mb-md-4, .my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-md-4, .mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .m-md-5 {
    margin: 3rem !important;
  }
  .mt-md-5, .my-md-5 {
    margin-top: 3rem !important;
  }
  .mr-md-5, .mx-md-5 {
    margin-right: 3rem !important;
  }
  .mb-md-5, .my-md-5 {
    margin-bottom: 3rem !important;
  }
  .ml-md-5, .mx-md-5 {
    margin-left: 3rem !important;
  }
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0, .py-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0, .px-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0, .py-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0, .px-md-0 {
    padding-left: 0 !important;
  }
  .p-md-1 {
    padding: 0.25rem !important;
  }
  .pt-md-1, .py-md-1 {
    padding-top: 0.25rem !important;
  }
  .pr-md-1, .px-md-1 {
    padding-right: 0.25rem !important;
  }
  .pb-md-1, .py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-md-1, .px-md-1 {
    padding-left: 0.25rem !important;
  }
  .p-md-2 {
    padding: 0.5rem !important;
  }
  .pt-md-2, .py-md-2 {
    padding-top: 0.5rem !important;
  }
  .pr-md-2, .px-md-2 {
    padding-right: 0.5rem !important;
  }
  .pb-md-2, .py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-md-2, .px-md-2 {
    padding-left: 0.5rem !important;
  }
  .p-md-3 {
    padding: 1rem !important;
  }
  .pt-md-3, .py-md-3 {
    padding-top: 1rem !important;
  }
  .pr-md-3, .px-md-3 {
    padding-right: 1rem !important;
  }
  .pb-md-3, .py-md-3 {
    padding-bottom: 1rem !important;
  }
  .pl-md-3, .px-md-3 {
    padding-left: 1rem !important;
  }
  .p-md-4 {
    padding: 1.5rem !important;
  }
  .pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important;
  }
  .pr-md-4, .px-md-4 {
    padding-right: 1.5rem !important;
  }
  .pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-md-4, .px-md-4 {
    padding-left: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
  .pt-md-5, .py-md-5 {
    padding-top: 3rem !important;
  }
  .pr-md-5, .px-md-5 {
    padding-right: 3rem !important;
  }
  .pb-md-5, .py-md-5 {
    padding-bottom: 3rem !important;
  }
  .pl-md-5, .px-md-5 {
    padding-left: 3rem !important;
  }
  .m-md-auto {
    margin: auto !important;
  }
  .mt-md-auto, .my-md-auto {
    margin-top: auto !important;
  }
  .mr-md-auto, .mx-md-auto {
    margin-right: auto !important;
  }
  .mb-md-auto, .my-md-auto {
    margin-bottom: auto !important;
  }
  .ml-md-auto, .mx-md-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0, .my-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0, .mx-lg-0 {
    margin-right: 0 !important;
  }
  .mb-lg-0, .my-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0, .mx-lg-0 {
    margin-left: 0 !important;
  }
  .m-lg-1 {
    margin: 0.25rem !important;
  }
  .mt-lg-1, .my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .mr-lg-1, .mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .mb-lg-1, .my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-lg-1, .mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .m-lg-2 {
    margin: 0.5rem !important;
  }
  .mt-lg-2, .my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .mr-lg-2, .mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .mb-lg-2, .my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-lg-2, .mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .m-lg-3 {
    margin: 1rem !important;
  }
  .mt-lg-3, .my-lg-3 {
    margin-top: 1rem !important;
  }
  .mr-lg-3, .mx-lg-3 {
    margin-right: 1rem !important;
  }
  .mb-lg-3, .my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .ml-lg-3, .mx-lg-3 {
    margin-left: 1rem !important;
  }
  .m-lg-4 {
    margin: 1.5rem !important;
  }
  .mt-lg-4, .my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .mr-lg-4, .mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .mb-lg-4, .my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-lg-4, .mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .m-lg-5 {
    margin: 3rem !important;
  }
  .mt-lg-5, .my-lg-5 {
    margin-top: 3rem !important;
  }
  .mr-lg-5, .mx-lg-5 {
    margin-right: 3rem !important;
  }
  .mb-lg-5, .my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .ml-lg-5, .mx-lg-5 {
    margin-left: 3rem !important;
  }
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0, .py-lg-0 {
    padding-top: 0 !important;
  }
  .pr-lg-0, .px-lg-0 {
    padding-right: 0 !important;
  }
  .pb-lg-0, .py-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0, .px-lg-0 {
    padding-left: 0 !important;
  }
  .p-lg-1 {
    padding: 0.25rem !important;
  }
  .pt-lg-1, .py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .pr-lg-1, .px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .pb-lg-1, .py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-lg-1, .px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .p-lg-2 {
    padding: 0.5rem !important;
  }
  .pt-lg-2, .py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .pr-lg-2, .px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .pb-lg-2, .py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-lg-2, .px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .p-lg-3 {
    padding: 1rem !important;
  }
  .pt-lg-3, .py-lg-3 {
    padding-top: 1rem !important;
  }
  .pr-lg-3, .px-lg-3 {
    padding-right: 1rem !important;
  }
  .pb-lg-3, .py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .pl-lg-3, .px-lg-3 {
    padding-left: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .pt-lg-4, .py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pr-lg-4, .px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .pb-lg-4, .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-lg-4, .px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .p-lg-5 {
    padding: 3rem !important;
  }
  .pt-lg-5, .py-lg-5 {
    padding-top: 3rem !important;
  }
  .pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important;
  }
  .pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .pl-lg-5, .px-lg-5 {
    padding-left: 3rem !important;
  }
  .m-lg-auto {
    margin: auto !important;
  }
  .mt-lg-auto, .my-lg-auto {
    margin-top: auto !important;
  }
  .mr-lg-auto, .mx-lg-auto {
    margin-right: auto !important;
  }
  .mb-lg-auto, .my-lg-auto {
    margin-bottom: auto !important;
  }
  .ml-lg-auto, .mx-lg-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0, .my-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0, .mx-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0, .my-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0, .mx-xl-0 {
    margin-left: 0 !important;
  }
  .m-xl-1 {
    margin: 0.25rem !important;
  }
  .mt-xl-1, .my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .mr-xl-1, .mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .mb-xl-1, .my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .ml-xl-1, .mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .m-xl-2 {
    margin: 0.5rem !important;
  }
  .mt-xl-2, .my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .mr-xl-2, .mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .mb-xl-2, .my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .ml-xl-2, .mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .m-xl-3 {
    margin: 1rem !important;
  }
  .mt-xl-3, .my-xl-3 {
    margin-top: 1rem !important;
  }
  .mr-xl-3, .mx-xl-3 {
    margin-right: 1rem !important;
  }
  .mb-xl-3, .my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .ml-xl-3, .mx-xl-3 {
    margin-left: 1rem !important;
  }
  .m-xl-4 {
    margin: 1.5rem !important;
  }
  .mt-xl-4, .my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .mr-xl-4, .mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .mb-xl-4, .my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .ml-xl-4, .mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .m-xl-5 {
    margin: 3rem !important;
  }
  .mt-xl-5, .my-xl-5 {
    margin-top: 3rem !important;
  }
  .mr-xl-5, .mx-xl-5 {
    margin-right: 3rem !important;
  }
  .mb-xl-5, .my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .ml-xl-5, .mx-xl-5 {
    margin-left: 3rem !important;
  }
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0, .py-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0, .px-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0, .py-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0, .px-xl-0 {
    padding-left: 0 !important;
  }
  .p-xl-1 {
    padding: 0.25rem !important;
  }
  .pt-xl-1, .py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .pr-xl-1, .px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .pb-xl-1, .py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .pl-xl-1, .px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .p-xl-2 {
    padding: 0.5rem !important;
  }
  .pt-xl-2, .py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .pr-xl-2, .px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .pb-xl-2, .py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .pl-xl-2, .px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .p-xl-3 {
    padding: 1rem !important;
  }
  .pt-xl-3, .py-xl-3 {
    padding-top: 1rem !important;
  }
  .pr-xl-3, .px-xl-3 {
    padding-right: 1rem !important;
  }
  .pb-xl-3, .py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .pl-xl-3, .px-xl-3 {
    padding-left: 1rem !important;
  }
  .p-xl-4 {
    padding: 1.5rem !important;
  }
  .pt-xl-4, .py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .pr-xl-4, .px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .pb-xl-4, .py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .pl-xl-4, .px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .p-xl-5 {
    padding: 3rem !important;
  }
  .pt-xl-5, .py-xl-5 {
    padding-top: 3rem !important;
  }
  .pr-xl-5, .px-xl-5 {
    padding-right: 3rem !important;
  }
  .pb-xl-5, .py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .pl-xl-5, .px-xl-5 {
    padding-left: 3rem !important;
  }
  .m-xl-auto {
    margin: auto !important;
  }
  .mt-xl-auto, .my-xl-auto {
    margin-top: auto !important;
  }
  .mr-xl-auto, .mx-xl-auto {
    margin-right: auto !important;
  }
  .mb-xl-auto, .my-xl-auto {
    margin-bottom: auto !important;
  }
  .ml-xl-auto, .mx-xl-auto {
    margin-left: auto !important;
  }
}
.btn {
  padding: 8px 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: filter var(--default--transition);
  box-sizing: border-box;
  font-size: 1.1em;
  border-radius: 4px;
  box-shadow: 0 0 6px -3px black;
  position: relative;
  color: var(--nord6);
  text-align: center;
  display: inline-block;
}

.btn > * {
  vertical-align: middle;
}

.btn.primary {
  background-color: var(--nord7);
  color: var(--nord0);
}

.btn.secondary {
  background-color: var(--nord1);
}

.btn.success {
  background-color: var(--nord14);
}

.btn.danger {
  background-color: var(--nord11);
}

.btn.info {
  background-color: var(--nord10);
}

.btn.warning {
  background-color: var(--nord12);
}

.btn.large {
  padding: 10px 22px;
  font-size: 1.3em;
}

.btn.small {
  padding: 6px 14px;
  font-size: 1em;
}

.btn.block {
  display: block;
  width: 100%;
}

.btn:hover,
.btn.hover {
  filter: brightness(0.9);
}

.btn:active,
.btn.active {
  filter: brightness(0.8);
}

.btn:disabled,
.btn.disabled {
  filter: opacity(0.7);
  cursor: not-allowed;
  pointer-events: none;
}

.btn.loading {
  pointer-events: none;
  color: transparent;
  cursor: not-allowed;
}

.btn.loading::before {
  width: 100%;
  height: 100%;
}

.btn.loading::after {
  cursor: not-allowed;
  pointer-events: none;
  color: transparent;
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  border: 2px solid transparent;
  border-radius: 100%;
  border-top-color: var(--nord4);
  animation: 0.8s btn-loading linear infinite;
  position: absolute;
  top: calc(50% - 11px);
  right: calc(50% - 11px);
}

@keyframes btn-loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.card {
  border-radius: 4px;
  background-color: white;
  position: relative;
  box-shadow: 0 2px 10px -5px var(--nord1-pale), 0 1px 12px -5px var(--nord1-pale), 0 1px 3px 0 var(--nord1-pale);
}

.card.minimal {
  box-shadow: none;
  border: 1px solid rgba(46, 52, 64, 0.3);
}

.card-body {
  padding: 15px;
}

.card-thumb img,
.card-thumb {
  border-radius: 4px 4px 0 0;
}

.dark .card {
  background-color: var(--nord0);
  color: var(--nord6);
}

.dark .card.minimal {
  border-color: var(--nord3);
}

.dark .form-label {
  color: var(--nord6);
}

.dark input.form-control,
.dark select.form-control,
.dark textarea.form-control {
  background-color: var(--nord2);
  color: var(--nord4);
  border-color: var(--nord3);
}

.dark input.form-control:disabled,
.dark select.form-control:disabled,
.dark textarea.form-control:disabled {
  background-color: var(--nord2-pale);
  border-color: transparent;
}

.dark input.form-control:not([readonly]):focus,
.dark select.form-control:not([readonly]):focus,
.dark textarea.form-control:not([readonly]):focus {
  background-color: var(--nord3);
}

.dark .form-helper {
  color: var(--nord6-pale);
}

.dark select.form-control option {
  background-color: var(--nord0);
  color: var(--nord4);
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: var(--form-group-bottom-margin);
}

input.form-control,
select.form-control,
textarea.form-control {
  padding: 8px;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--nord1-pale);
  border-radius: 3px;
  transition: 0.3s;
  transition-property: border-color, background-color;
  height: unset;
  font-weight: normal;
  width: 100%;
  background-color: transparent;
}

select.form-control option {
  background-color: var(--nord4);
  font-size: 1em;
  color: var(--nord0);
}

input.form-control:disabled,
select.form-control:disabled,
textarea.form-control:disabled {
  background-color: var(--nord3-pale);
  cursor: not-allowed;
}

input.form-control:not([readonly]):focus,
select.form-control:not([readonly]):focus,
textarea.form-control:not([readonly]):focus {
  border-color: var(--nord1);
  background-color: var(--nord6-pale);
}

input.form-control[readonly],
select.form-control[readonly],
textarea.form-control[readonly] {
  cursor: default;
}

.form-label {
  font-size: 1.1rem;
  color: var(--nord0);
  display: block;
  margin-bottom: var(--form-label-bottom-margin);
}

.form-helper {
  font-size: 0.8em;
  color: var(--nord3);
  margin-left: 5px;
}

.form-group.large input.form-control,
.form-group.large select.form-control,
.form-group.large textarea.form-control {
  padding: 12px;
  font-size: 1.2em;
  border-width: 2px;
}

.form-group.large .form-label {
  font-size: 1.2em;
}

.form-group.large .form-helper {
  font-size: 1em;
}

.form-group.small input.form-control,
.form-group.small select.form-control,
.form-group.small textarea.form-control {
  padding: 6px;
  font-size: 0.8em;
  border-width: 0.5px;
}

.form-group.small .form-label {
  font-size: 0.9em;
}

.form-group.small .form-helper {
  font-size: 0.6em;
}

.form-group.primary input.form-control,
.form-group.primary select.form-control,
.form-group.primary textarea.form-control {
  border-color: var(--nord7);
}

.form-group.primary .form-helper {
  color: var(--nord7);
}

.form-group.secondary input.form-control,
.form-group.secondary select.form-control,
.form-group.secondary textarea.form-control {
  border-color: var(--nord1);
}

.form-group.secondary .form-helper {
  color: var(--nord1);
}

.form-group.success input.form-control,
.form-group.success select.form-control,
.form-group.success textarea.form-control {
  border-color: var(--nord14);
}

.form-group.success .form-helper {
  color: var(--nord14);
}

.form-group.danger input.form-control,
.form-group.danger select.form-control,
.form-group.danger textarea.form-control {
  border-color: var(--nord11);
}

.form-group.danger .form-helper {
  color: var(--nord11);
}

.form-group.warning input.form-control,
.form-group.warning select.form-control,
.form-group.warning textarea.form-control {
  border-color: var(--nord12);
}

.form-group.warning .form-helper {
  color: var(--nord12);
}

.form-group.info input.form-control,
.form-group.info select.form-control,
.form-group.info textarea.form-control {
  border-color: var(--nord10);
}

.form-group.info .form-helper {
  color: var(--nord10);
}

.dark {
  background-color: var(--nord-deep-dark);
  color: var(--nord6);
  transition-duration: var(--default--transition);
  transition-property: color, background-color;
}